body {
	max-width: 1600px;
	background-color: #6441a4;
	background: -webkit-linear-gradient(to right, #3d2864, #9260f0);
	background: linear-gradient(to right, #3d2864, #9260f0);
	font-family: 'Special Elite', cursive;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.banner {
	width: 30%;
	display: block;
	margin: 20px auto 0;
}

h2	{
	margin-top: 60px;
	text-align: center;
	color: #ffffff;
	font-size: 2em;
}

.toggle {
	display: none;
	width: 30%;
	margin: auto;
	text-align: center;
}

.button {
	display: block;
	background-color: #e7e7e7;
	margin-bottom: 3px;
	text-align: center;
	padding: 10px 0;
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
	color: #000000;
	border: 2px solid #000000;
	border-radius: 10px;
}

.button:hover {
	opacity: 0.65;
	transition: 0.5s;
	cursor: pointer;
}

.results {
	margin: auto;
	width: 50%;
}

ul {
	list-style: none;
	margin: 30px 0 60px;
	padding: 0;;
}

li {
	background-color: #ffffff;
	color: #2a2a2a;
	padding: 20px;
	border : 1px solid #2a2a2a;
}

.results img {
	display: inline-block;
	vertical-align: middle;
	width: 25px;
}

.results a {
	color: #6441a4;
	font-weight: 600;
}

.results a:visited {
	color: #6441a4;
}

.footer {
	display: none;
	text-align: center;
	color: #ffffff;
}

.credit {
	margin-top: 25px;
	margin-bottom: -15px;
}

@media (max-width: 600px) {

	.banner {
		width: 50%
	}

	.toggle {
		width: 60%;
	}

	.results {
		width: 90%;
		line-height: 30px;
	}
	
}